#include "Resource.h"
#include <windows.h>

mainIcon ICON "Spartatroniks.ico"

////////// Process Manifest
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "LiveGrapher.manifest"

////////// Menu
mainMenu MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Save as CSV\tCtrl+S",     IDM_SAVE
        MENUITEM SEPARATOR
        MENUITEM "&Exit\tAlt+F4",            IDM_EXIT
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About LiveGrapher",       IDM_ABOUT
    END
END

////////// Accelerators
KeyAccel ACCELERATORS {
    "S",     IDM_SAVE,       CONTROL, VIRTKEY
}

////////// About Dialog
IDD_ABOUTBOX DIALOGEX (320 - 85) / 2 - 18, (240 - 31) / 2 - 22, 170, 62
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_CAPTION | WS_SYSMENU
CAPTION "About LiveGrapher"
FONT 10, "MS Shell Dlg"
BEGIN
    ICON             mainIcon,                       IDC_STATIC, 30, 8,  32,  32
    LTEXT            "LiveGrapher, Version 1.0",     IDC_STATIC, 55, 12, 114, 10
    LTEXT            "Copyright (c) 2013",           IDC_STATIC, 30, 30, 159, 10
    LTEXT            "FRC Team 3512, Spartatroniks", IDC_STATIC, 30, 39, 126,  10
    LTEXT            "All Rights Reserved",          IDC_STATIC, 30, 48, 63,  10
END

////////// Properties
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "FRC Team 3512, Spartatroniks"
      VALUE "FileVersion", "1,0,0,0"
      VALUE "InternalName", "LiveGrapher"
      VALUE "LegalCopyright", "(c) 2013 Spartatroniks"
      VALUE "OriginalFilename", "KinectBoard.exe"
      VALUE "ProductName", "LiveGrapher"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END